<div style="width:980px;padding-bottom:40px;position:relative;margin:0 auto;"> 

  <div id="masterPage" class="master-page-style">

    <h1>{{name}}</h1>

    <div id="menuContainer" class="dd-container">

      <div class="dropdown">
        <button class="dropbtn">Home</button>
      </div>

      <div class="dropdown">
	<button class="dropbtn">Reservation</button>
	<div class="dropdown-content">
	  <a href="#">From airport</a>
	  <a href="#">To airport</a>
	  <a href="#">In-city one way</a>
	</div>
      </div>

      <div class="dropdown">
	<button class="dropbtn">Customer Service</button>
	<div class="dropdown-content">
	  <a href="#">Call</a>
	  <a href="#">Email</a>
	</div>
      </div>

      <div class="dropdown">
	<button class="dropbtn">My Account</button>
      </div>

    </div>

  </div>

</div>
